{% extends 'clienttemplates/base.html' %}
{% load static %}


{% block gallery %}active {% endblock %}


{% block content %}
	<div class="content">
		<!----> 
<div class="gallery">
		<div class="container">
			<h2 class="heading text-center">Our Classes</h2>
			<div class="gallery-bottom">
				{% for image in gallerylist %}
					<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="{{ image.image.url }}" data-lightbox="example-set" data-title="{{ image.caption }}"><img class="example-image" src="{{ image.image.url }}" alt=""/></a>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
				
		 </div>
	 </div>
<!----> 

	</div>

{% endblock %}