{% extends 'clienttemplates/base.html' %}
{% load static %}


{% block content %}

<div class="content">
	<!-- Single-page -->
		<div class="single-page">
	<div class="container">
		<h2 class="heading text-center">Service</h2>
				<div class="single">
					<div class="blog-to1 service_info">		
					
						<img class="img-responsive sin-on" src="{{service.image.url}}" alt="" />
							<div class="blog-top">
							
							<div class="top-blog">
								<a class="fast" href="#">{{service.title}}</a>
								<p>Posted by <a href="#">Admin</a> in <a href="#">General</a> | <a href="#">10 Comments</a></p> 
								<p class="sed">{{service.detail}}</p>
						
						
						<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>
					</div>
					</div>		
		
		<!---->
		<div class="single-bottom">
		
			<h3>Leave A Comment</h3>
				<form>
						<div class="col-md-4 comment">
						<input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Name';}">
						</div>
						<div class="col-md-4 comment">
						<input type="text" value="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}">
						</div>
						<div class="col-md-4 comment">
						<input type="text" value="Subject" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Subject';}">
						</div>
						<div class="clearfix"> </div>
						<textarea cols="77" rows="6" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						
							<input type="submit" value="Send" >
						
				</form>
			</div>
		</div>
	</div>
</div>
<!-- //Single-page -->
	</div>

{% endblock %}