{% extends 'clienttemplates/base.html' %}
{% load static %}


{% block content %}

<div class="content">
	<!-- Single-page -->
		<div class="single-page">
	<div class="container">
		<h2 class="heading text-center">Blog</h2>
				<div class="single">
					<div class="blog-to1 service_info">		
					
						<img class="img-responsive sin-on" src="{{newsdetail.image.url}}" style="max-height: 600px; min-width: 900px; object-fit: cover;" alt="" />
							<div class="blog-top">
							<div class="blog-left">
								<span>{{newsdetail.date|date}}</span>
							</div>
							<div class="top-blog">
								<a class="fast" href="#">{{newsdetail.heading}}</a>
								<p>Posted by <a href="#">{{request.user.username}}</a></p> 
								<p class="sed">{{newsdetail.detail}}</p>
							
						
						<div class="clearfix"> </div>
							</div>
							<div class="clearfix"> </div>
					</div>
					</div>		
		
		
		</div>
	</div>
</div>
<!-- //Single-page -->
	</div>


{% endblock %}