{% extends 'clienttemplates/base.html' %}
{% load static %}

{% block home %}active{% endblock %}

{% block content %}

<div class="slider">
    <ul class="rslides" id="slider1">
    	{% for slider in sliders %}
      <li><img src="{{slider.image.url}}" alt=""></li>
      	{% endfor %}
    </ul>
</div>



	<div class="content">
		<div class="welcome-top">
			<div class="container">
				<div class="col-md-6 welcome_top_left">
					<h3>WELCOME</h3>
					<h5>TO OUR EDUCATION GROUP</h5>
					<p>Lorem Ipsum is simply dummy printing industry. It has survived not. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.</p>
				</div>
				<div class="col-md-6 welcome_top_right">
					<h3>WE'RE OPEN</h3>
					<h5>In Sed Ut perspiciatis Street</h5>
					<div class="welcome_right_location">
						<div class="location_img">
							<img src="{% static 'clientstatic/images/loc.jpg' %}" alt="" />
						</div>
						<div class="location">
							<p>Lorem Ipsum has been the industry's since the 1500s. It has survived centuries.</p>
							<p class="location_text"><span class="glyphicon glyphicon-map-marker"></span>795 Folsom Ave, Suite 600,San Francisco, CA 94107</p>
							<p class="location_text"><span class="glyphicon glyphicon-dashboard"></span>Mon to Sat 8:30am - 4:30pm,  Sunday - Holiday</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="welcome_bottom">
			<div class="container">
				<div class="welcome_head text-center">
					<h2>Welcome To Education Center</h2>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor 
					sit amet, consectetur, exercitationem ullam corporis suscipit laboriosam.</p>
				</div>
				<div class="welcome-grids">
					<div class="col-md-6 welcome_bottom_left">
						<img src="{% static 'clientstatic/images/wel.jpg' %}" alt=""/>
					</div>
					<div class="col-md-6 welcome_bottom_right">
						<h3>Sed ut perspiciatis unde omnis iste</h3>
						<p> Quis autem vel eum iure reprehenderit qui 
						in ea voluptate velit esse quam nihil molestiae consequatur, nulla pariatur.
						sit amet, consectetur, adipisci velit, sed quia non numquam. </p>
						<p> Quis autem vel eum iure reprehenderit qui 
						vel illum qui dolorem eum fugiat quo voluptas est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //welcome -->
		<!-- Our-staff-starts -->
		<div class="our-staff">
			<div class="container">
				<div class="our-staff-head text-center">
					<header>
						<h3>Our Staff</h3>
						<p>Lorem Ipsum is simply dummy Business industry doloremque laudantium.</p>
					</header>
				<div class="our-staff-grids text-center">
					{% for staff in staffs %}
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="{{staff.image.url}}" alt=""></a>
					                 <div class="mask">
				 						<ul class="staff-social-icons">
											<li><a target="_blank" href="{{ staff.facebook }}"><span class="facebook"> </span></a></li>
											<li><a target="_blank" href="{{staff.twitter}}"><span class="twitter"> </span></a></li>
										</ul>
                   					 </div>
                   					 <h4>{{staff.name}}</h4>
			                    <p>{{ staff.detail }}</p>
                   		</div>
					</div>
					{% endfor %}
					
					
					
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- //Our-staff-ends -->
		<!-- Services-starts -->
		<div class="service-section">
				<div class="container">
					<div class="service-section-head text-center">
						<header>
							<h3>Our Services</h3>
							<p>We Provide best you the best services.</p>
						</header>
					</div>
					<div class="service-section-grids">
						{% for service in services %}
						<div class="col-md-4 service-grid">
							<div class="service-section-grid">
								<div class="icon">
									<span style="font-size: 50px;" class="d1 glyphicon glyphicon-{{service.icon}}"></span>
								</div>
								<div class="icon-text">
									<a href="{% url 'collegeapp:clientservicedetail' service.id %}">{{service.title}}</a>
									<p>{{service.detail|truncatechars:"80"}}</p>
								</div>
							</div>
						</div>
							{% endfor %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- //services -->
			<!-- News-section -->
			 <div class="news-section">
			 <div class="container">
				<div class="news-section-head text-center">
					<header>
						<h3>Latest News</h3>
						<p>Sed ut perspiciatis unde unde omnis iste natus error totam rem ipsa quae ab illo inventore veritatis</p>
					</header>
				</div>
				<div class="news-section-grids">
					{% for new in news %}
					<div class="col-md-4 news-section-grid">
						<div class="news-section-grid-left">
							<h3>{{new.date|date}}</h3>
						</div>
						<div class="news-section-grid-right">
							<a href="{% url 'collegeapp:clientnewsdetail' new.id %}">{{new.heading}}</a>
							<p>{{new.detail|truncatechars:'80'}} </p>
						</div>
						<div class="clearfix"></div>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}