{% extends 'clienttemplates/base.html' %}
{% load static %}

{% block newslist %}active{% endblock %}

{% block content %}
<div class="content">
		<!-- blogs -->
<div class="blog">
	<div class="container">
		<h2 class="heading text-center">Blogs</h2>
			<div class="single-inline">
				{% for blog in newslist %}
				<div class="col-md-6 blog-to">						
						<a href="{% url 'collegeapp:clientnewsdetail' blog.id %}"><img class="img-responsive sin-on" src="{{ blog.image.url }}" alt="" /></a>
							<div class="blog-top">
							<div class="blog-left">
								<span>{{blog.date}}</span>
							</div>
							<div class="top-blog">
								<a class="fast" href="{% url 'collegeapp:clientnewsdetail' blog.id %}">{{ blog.title }}</a>
								<p>Posted by <a href="{% url 'collegeapp:clientnewsdetail' blog.id %}">{{ blog.author }}</a> in <a href="#">General</a> | <a href="{% url 'collegeapp:clientnewsdetail' blog.id %}">10 Comments</a></p> 
								<p class="sed">{{ blog.detail|truncatechars:"30"}}</p> 
								<a  href="{% url 'collegeapp:clientnewsdetail' blog.id %}" class="more">Readmore<span> </span></a>
								
							</div>
							<div class="clearfix"> </div>
					</div>
					</div>
					{% endfor %}
							
				</div>
				
			</div>
			</div>
	<!-- //blogs -->
	</div>
	<!-- //content-section-ends-here -->





{% endblock %}